body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    background-color: rgb(39, 116, 174) !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Login and Register */
/* Login Form */
.header2 {
    text-align: center;
    color: white;
}

.register {
    text-align: center;
    color: white;
    font-weight: bold;
}

.register a {
    color: white;
}

.whitetext {
    color: white;
    text-align:center;
}

.form {
  max-width: 300px;
  margin: 40px auto;
  padding: 20px;
  background: #f7f7f7;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.registerpage .form {
    max-width: 400px;
}

.addform {
    max-width: 500px;
}

.form h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.form label {
  display: block;
  margin-bottom: 5px;
    color: black;
}

.form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.form button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: rgb(39,116,174);
  color: #fff;
  cursor: pointer;
  font-size: 1em;
}

.form p {
  text-align: center;
  margin-top: 20px;
}

form a {
  color: #333;
  text-decoration: none;
}

form a:hover {
  text-decoration: underline;
}

form div {
  color: red;
  text-align: center;
  margin-bottom: 10px;
}

/* End of Login Page */

/* Navbar */
/* Header */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  padding: 1vh 4vw 0.5%;
  background-color: rgb(39, 116, 174);
}

.logo {
  height: 10.5vh;
  margin-left: 2vw;
  display: flex;
  align-items: center;
}

.nav-items {
  display: flex;
  align-items: center; 
  list-style: none; 
  margin: 0; 
  padding: 0; 
}

.nav-items > li {
  list-style-type: none;
  position: relative;
}


.nav-items > li:hover > .dropdown {
  display: block;
}

.dropdown {
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 1000;
  display: none;
  background-color: rgb(39, 116, 174);
  padding: 1vh 4vw;
}

.dropdown li {
    padding: 0.5vh 4vw;
}

.nav-items:hover .dropdown {
  display: block;
}

.dropdown a {
  color: white;
}

.dropdown a:hover {
  color: rgb(255, 209, 0);
}

.nav a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  font-weight: bold;
}

.nav a:hover {
  color: rgb(255, 209, 0);
}

.nav-link {
  margin-left: 2vw;
  margin-right: 2vw;
}

.nav-link > img {
    height: 1rem;
    color: white;
}

.search-signout {
    display: flex;
}

.signout {
  color: black;
  font-weight: bold;
  border: none;
  padding: 5px 10px;
  background-color: rgb(255, 209, 0);
  border-radius: 35px;
}

.categories-submenu {
  position: absolute;
  background-color: rgb(39, 116, 174);
  min-width: 160px;
  padding: 20px;
  z-index: 1000;
  list-style-type: none;
}

.categories-submenu.clicked {
  display: block; 
}

/* You might want to position the dropdown relative to its parent */
.nav-item { /* This should be the class of the parent element of your dropdown */
  position: relative; /* Set the position context for absolute positioning */
}

/* Top page section */
.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/public/img/ucla.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.header-top {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.header-h1 {
  text-align: center;
  font-size: 40px;
  color: white;
  width: 50vw;
}

@media only screen and (max-width: 800px) {
  .header-h1 {
    width: 60vw;
  }
}

@media only screen and (max-width: 500px) {
  .header-h1 {
    width: 80vw;
  }
}

.homeButtons {
  text-align: center;
  padding-bottom: 50px;
}

.homeButtons a {
  margin: 0 20px;
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding: 15px 25px;
  border-radius: 35px;
}

.homeButtons .left {
  background-color: rgb(39, 116, 174);
}

.homeButtons .right {
  background-color: rgb(255, 209, 0);
}

/* Chat section */

.active-chat {
  background-color: #cce0ff !important;
}

.chat-badge {
  display: inline-block !important;
  width: 10px !important;
  height: 10px !important;
  padding: 0 !important;

}

.chat-modal .modal-dialog {
  min-width: 100% !important;
  height: 90%;
  min-height: 300px;
}

.chat-modal .modal-content {
  height: 100%;
  width: 90% !important;
  margin: 0 auto;
}

.chat-product-image{
  height: 50px;
  width: 50px;
}

.chats-window {
  max-height: calc(80vh - 30px);
  min-height: calc(80vh - 30px);
  overflow-y: auto !important;
  overflow-x: hidden !important;
  border-right: 1px solid #cccccc;
}

.item-chat {
  cursor: pointer;
}

.item-chat:hover {
  background-color: #eeeeee;
}

.message-window {
  max-height: calc(80vh - 90px);
  min-height: calc(80vh - 90px);
  overflow-y: auto !important;
  border-bottom: 1px solid #cccccc;
}

/* End of chat section */

/* Product listing */
.product {
    background-color: white;
    margin: 10px;
    padding: 30px;
    border-radius: 20px;
    color: black;
}
.product-page {
  max-width: 800px;
  margin: auto;
  background: #fff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.product-img img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}

.product-name {
  font-size: 1.5rem;
  margin-top: 1rem;
  font-weight: bold;
}

.product-seller,
.product-description,
.product-category,
.product-price {
  font-size: 1rem;
  margin-top: 0.5rem;
  color: #333;
}

.product-seller a {
  color: #0275d8;
  text-decoration: none;
}

.product-seller a:hover {
  text-decoration: underline;
}

button {
  background-color: #5cb85c;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  border-radius: 4px;
  cursor: pointer;
}

.float-end {
  position: absolute;
  right: 2rem;
  top: 2rem;
}

@media (max-width: 768px) {
  .product-page {
    padding: 1rem;
      margin-left: 10%;
      margin-right: 10%;
  }

  .float-end {
    position: static;
    margin-top: 1rem;
  }
}

.all-products {
    color: white;
    margin-top: 0.5rem;
    text-align: center;
}

.products-box {
    text-align: center;
    color: white;
    display: flex;
    flex-wrap: wrap;
}

.products-box .product {
    margin-left: 1rem;
    margin-right: 1rem;
}

.products-box .product:hover {
    cursor: pointer;
}

.product-img img {
    width: 15vw;
}

.product-name {
    font-size: 20px;
    font-weight: bold;
}

.product-price {
    margin-bottom: 10px;
}

.category-heading {
    color: white;
    text-align: center;
}

.product-page {
    text-align: center;
}

/* End product listing */

/* Profile page */
.user-info {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 2em auto;
  padding: 2em;
  max-width: 600px;
  text-align: center;
}

.user-info h2 {
  color: #333;
  margin-bottom: 1em;
    text-align: center;
}

.user-info p {
  color: #666;
  line-height: 1.6;
    text-align: center;
}

.user-info input, .user-info button {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  width: calc(100% - 22px); 
  margin-bottom: 1em;
}

.user-info button {
  background-color: rgb(39,116,174);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.delete-product {
  background-color: #d9534f;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.2s, box-shadow 0.2s;
}

.delete-product:hover,
.delete-product:focus {
  background-color: #c9302c;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.delete-product:active {
  background-color: #ac2925;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transform: translateY(1px);
}

.user-products {
    margin-bottom: 20px;
}

.user-products {
    color: white;
}

.report {
    background-color: #E43939 !important;
    color: white !important;
    border: none !important;
    margin-top: 10px;
}

/* End profile page */